// font family & font weight
$roboto: 'Roboto', sans-serif;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;

// body font size & color
$body-01: 18px;
$body-02: 16px;
$body-03: 14px;
$body-color: #202124;

// headings font size
$heading-01: 56px;
$heading-02: 44px;
$heading-03: 32px;
$heading-04: 28px;
$heading-05: 20px;
$heading-06: 16px;

// subtitles font size
$subtitle-regular-1: 20px;
$subtitle-bold-1: 18px;
$subtitle-bold-2: 24px;

// Colors
$primary: #F7421E;
$primary1: #2166D9;
$secondary: #212833;
$secondary1: #3D414D;
$black-50: #E9E9E9;
$black-100: #D2D3D3;
$black-200: #BCBCBD;
$black-300: #A6A6A7;
$black-400: #909092;
$black-500: #797A7C;
$black-600: #636466;
$black-700: #4D4D50;
$black-800: #36373A;
$white: #FFFFFF;
$bg-1: #D6EEF2;
$bg-2: #D6EEF2;
$bg-3: #F0FAE6;

// Padding
$padding-top-1: 30px;
$padding-top-2: 70px;
$padding-top-3: 120px;
$padding-top-4: 45px;
$section-pad: 120px 0px;